<!DOCTYPE html>
<html>
    <head>
        <title>
            Staff-Advisior Details Update
        </title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        
         <form class="container1" style="text-align: center" action="/login/coordinatorLogin/staffAdvisiorDetails" method="POST">
            <h1>Staff-Advisior Details Update</h1>
          
            <label for="fid">Faculty Id :</label>
            <input type="text" name="fid"><br><br>

            <label for="fname">First Name :</label>
            <input type="text"  name="fname"><br><br>

            <label for="lname">Last Name :</label>
            <input type="text" name="lname"><br><br>

            <label for="password">Password :</label>
            <input type="text" name="password"><br><br>

            
            <label for="password">Confirm Password :</label>  
            <input type="text" name="confirmpassword"><br><br>

            <label for="position">Position :</label>
            <input type="text" name="position"><br><br>

            <div>
                <!-- <input type="submit" value="Register" > -->
                <!-- <button class="button button1" type="submit">Submit</button> -->
              <button type="submit" class="button button1">Register</button> 
                
            </div> 
    
           </form>     
    </body>
</html>
